h1, h2 {
    text-align: center;
}

.headingImage{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.headLink {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}