h1, h2 {
    text-align: center;
}

h1, h2, h3, p {
    font-family: Palatino;
}

.header {
    text-align: center;
}

.headingCapt{
    margin-left: 10%;
}

.headingImg{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.headLink {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    color: #FFDDAE;
    text-align: center;
}

header {
    background-color: #D4F6FF;
}

a {
    color: #FFDDAE;
}

a:visited {
    color: #FFDDAE;
}

a:hover {
    color: rgb(168, 139, 86);
}

.blogLink {
    width: 20%;
    aspect-ratio: 1/1;
    overflow: hidden;
    padding-left: 20%;
}

.blogLink:hover {
   color: #D4F6FF;
   opacity: .3;
}

.blogLinkImg {
    display: inline-block;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}